*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newDiv{
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 40px !important;
    margin-top: 40px !important;
    position: relative;
    /* height: 200px; */
  }
  .container{
    background-color: white;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-top: 50px;
    min-height: 100vh;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    padding-bottom: 30px;
  }
  .container h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  }
  #inputField{
    width: 60%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 10px;
  }
  #btn{
    background-color: #05677a;
    border: none;
    width: 140px;
    height: 50px;
    color: white;
    font-weight: bolder;
  }
  #btn:hover{
    background-color: #0DCAF0;
  }
.row{
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.textSpan{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  /* border: 1px solid green !important; */
  height: calc(200px - 55px);
}
.button{
  width: 25px;
  font-size: 12px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: 40px;
  bottom: 0px;
  background-color: #05677a;
  border: none;
  color: white;
}
.button:hover{
  background-color: black;
  color: white;
}
.button1{
  width: 25px;
  font-size: 12px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: 10px;
  bottom: 0px;
    background-color: #05677a;
  border: none;
  color: white;
}
.button1:hover{
  background-color: black !important;
  color: white;
}
.saveBtn{
  background-color: #05677a;
  border: none;
  color: white;
  width: 80px;
  height: 40px;
}
.saveBtn:hover{
  background-color: black !important;
  color: white;
}
.inputWala{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}