*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newDiv{
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 40px !important;
    margin-top: 40px !important;
    position: relative;
    height: 200px;
  }
.row{
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.textSpan{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  /* border: 1px solid green !important; */
  height: calc(200px - 55px);
}
.button{
  width: 25px;
  font-size: 12px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: 40px;
  bottom: 0px;
}
.button:hover{
  background-color: black;
  color: white;
}
.button1{
  width: 25px;
  font-size: 12px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.button1:hover{
  background-color: black !important;
  color: white;
}
.saveBtn{
    background-color: black;
    color: white;
}